* {
    margin: 0;
    padding: 0;
}
@import url(https://fonts.google.com/specimen/Staatliches);
@import url(https://fonts.google.com/specimen/Kanit);
nav {
    max-width: 80%;
    margin: auto;
    background-color: #4D4847;
    display: flex;
    padding: 10px;
    border: 1px solid #000f08;
    border-radius: 10px;
    
}
nav h1 {
    font-size: 3em;
    font-family: 'Staatliches', sans-serif;
    padding-right: 200px;
}
